.share-btn{
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px;
  padding-inline: 15px;
  border-radius: 34px;
  margin-left: 200px;
  margin-top: 50px;
  font-size: 16px;
  border: 1px solid black;
}

.share-btn:hover{
  cursor: pointer;
  background-color: #f7f7f7;
  color: black;
  border: 1px solid #e7e7e7;
  transition: 0.3s;
}

.wid-main-div{
  width: 35%;
  margin-left:200px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  padding: 15px;
}

.wid-share-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid #e7e7e7;
  padding-bottom: 15px;
  padding-inline: 10px;
}

.wid-input{
  margin-top: 25px;
  border-bottom:1px solid #e7e7e7;
  padding-bottom: 15px;
  padding-inline: 10px;
}

.wid-footer{
  display: flex;
  color: #ccc;
  justify-content: space-between;
  padding-inline: 15px;
  margin-top: 20px;

}

.wid-footer div:hover{
  cursor: pointer;
  color: black;
  transition:0.5s
}

.wid-footer-link{
  color: black;
}

.widget-complete-div{
  position: relative;
}

.invite-main-div{
  position: absolute;
  top: 0px;
}